{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Página Inicial</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie-edge">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <script type="module" src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</head>

<body>

<div class="container mt-sm-4">
    <div class="row">
        <div class="col-sm-8 offset-sm-2">
            <h1>Lista de Tarefas</h1>
            <form action="{% url 'tarefas:home' %}" method="post">
                {% csrf_token %}
                <div class="input-group mb-3">
                    <input name="nome" type="text" class="form-control" placeholder="Escreva a tua tarefa"
                           aria-label="Escreva a tua tarefa" aria-describedby="basic-addon2">
                    <button class="btn btn-primary" type="submit" id="button">Salvar</button>
                </div>
            </form>
            <div id="emailHelp" class="form-text">{{ form.nome.errors }}</div>
        </div>
    </div>
</div>

<div class="container mt-sm-2">
    <div class="row">
        <div class="col-sm-8 offset-sm-2">
            <h2>Tarefas Pendentes</h2>
            {% for tarefa in tarefas_pendentes %}
            <form action="{% url 'tarefas:detalhe' tarefa_id=tarefa.id %}" method="post">
                {% csrf_token %}
                <div class="input-group mb-sm-1">
                    <input name="nome" type="text" class="form-control"
                           aria-label="Tarefas pendentes" value="{{ tarefa.nome }}">
                    <input name="feita" type="hidden" value="checked">
                    <button class="btn btn-success" type="submit" id="button">Feita!</button>
                </div>
            </form>
            {% endfor %}
        </div>
    </div>
</div>

<div class="container mt-sm-2">
    <div class="row">
        <div class="col-sm-8 offset-sm-2">
            <h2>Tarefas Já concluídas</h2>
            {% for tarefa in tarefas_feitas %}
               
                <div class="row">
                     <div class="col-sm-1">
                        {# tarefa_id é o path que precisa ser configurada com o id da tarefa.id #}
                        <form action="{% url 'tarefas:apagar' tarefa_id=tarefa.id %}" method="post">
                            {% csrf_token %}
                            <div class="input-group mb-3">
                                <div class="input-group mb-sm-1">
                                    <button type="submit" class="btn btn-danger">Apagar</button>
                                </div>
                            </div>
                        </form>
                    </div>
            
                    <div class="col-sm-11">
                        <form action="{% url 'tarefas:detalhe' tarefa_id=tarefa.id %}" method="post">
                        {% csrf_token %}
                            <div class="input-group mb-sm-1">
                                <input name="nome" type="text" class="form-control"
                                aria-label="Tarefas pendentes" value="{{ tarefa.nome }}">
                                <button class="btn btn-warning" type="submit" id="button">Marcar como Pendente</button>
                            </div>
                        </form>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

</body>
</html>